<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="">
</head>
<body>
<nav>
    <ul>
<button type="button">Home</button>
    </ul>
    <ul>
<button type="button">Dashboard</button>
    </ul>
    <ul>
<button type="button">Logout</button>
    </ul>
</nav>
    {{{body}}}
</body>
</html>