{{#each posts}}
  <div class="post">
    <h2 class="post-title">{{title}}</h2>
    <p class="post-author">Written by {{user.name}}</p>
    <p class="post-content">{{content}}</p>
    <a href="/post/{{id}}" class="read-more">Read More</a>
  </div>
{{/each}}